
.count {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  color: #333;
}

[disabled] + .count {
  color: #999;
}

.add {
  background-color: mediumseagreen;
  color: #fff;
}

.sub {
  background-color: mediumvioletred;
  color: #fff;
}

.sub[disabled] {
  opacity: .5;
}

.card{
  margin: 10px;
}

:global .header {
  margin: 1rem auto 1rem auto;
  text-align: center;
}



